# This file lists all Python packages required by this project.
# Install them with `pip install -r requirements.txt`.
# To write the list of installed packages with exact versions and dependencies
# into another file: `pip freeze > requirements.out`
pandas
numpy
plotly
matplotlib
seaborn
psycopg2-binary
sqlalchemy
supabase
streamlit
ipykernel
jupyter
python-dotenv
kaleido